---
layout: default
---

<section class="grid">
  <div class="col-12_md-6_xs-12">
  <h2> {{ page.skill-name}} </h2>
  <hr>
  </div>
  <div class="upskill-details-section col-4_md-6_xs-12 padded">
    <img class="profile-photo"src="{{ page.host-photo }}">
    <h4> Your local expert: </h4> <h4> {{ page.host-name }} </h4>
    <h4> Bio: </h4>
    <p> {{ page.host-bio}} </p>
    <p> {{ page.about}} </p>
    {{ content }}
    </div>
  </div>
  <div class="upskill-blurb-section col-8_md-6_xs-12 padded">
    <h3> Course Details: </h3>
    <p> <span class='emphasis'>Location:</span> {{ page.location}}</p>
    <p> <span class='emphasis'>Duration:</span> {{ page.duration}}</p>
    <p> <span class='emphasis'>Level:</span> {{ page.level}}</p>
    <p> <span class='emphasis'>Price:</span> {{ page.price}}</p>

    <hr class='grey-line'>

    <h3> What you'll learn: </h3>
    <p>{{ page.snippet }}</p>
    <h3> Where we'll be: </h3>
    <p>{{ page.where }}</p>
    <h3> What I'll provide: </h3>
    <p>{{ page.what }}</p>
    <h3> Good to know </h3>
    <p>{{ page.good-to-know }}</p>

    <hr class='grey-line'>
      <h3> Where we'll meet:</h3>
      <p> {{ page.where }}</p>

    <div class="map-section">
      {{page.map}}
    <hr class='grey-line'>

    <div>
    {% for image in page.featured-images %}
      <img class="skill-images" src="{{ image.path }}">
    {% endfor %}
  </div>

  </div>
</section>
